
  body {
	background-image: url(https://cdn-images-1.medium.com/max/1600/1*5XH40dQSsBVFtvx3MO5VwQ.png);
	background-position: center;
	background-size: cover;
    display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
    color: #fff;
	/* background-repeat: no-repeat; */
}


