.my-container {
	margin: 0;
	padding: 0;
}

.my-navbar {
	background-image: url(https://cdn-images-1.medium.com/max/1600/1*5XH40dQSsBVFtvx3MO5VwQ.png);
	background-position: center;
	background-size: cover;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	z-index: 9999;
}

.my-brand {
	color: white;
	cursor: pointer;
	text-decoration: none;
	font-family: 'Kaushan Script', cursive;
	font-weight: 800;
	font-size: 2rem !important;
}
.my-brand:hover,
.my-brand:focus {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.my-nav-menu {
	font-size: 1.3rem;
	gap: 1rem;
}
.navbar-toggler {
	background-color: white;
}
/* .navbar-light .navbar-toggler {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	border-color: white;
} */

/* .my-dropdown-item {
	background-color: #187298;
} */
#portfolio-nav-dropdown {
	color: white;
}

.dropdown-menu.show {
	background-color: #294b9d;
}
.my-dropdown-item.dropdown-item {
}

.my-dropdown-item.dropdown-item:focus,
.my-dropdown-item.dropdown-item:hover {
	background-color: #59aaba;

	/* 4eb3c0 */
}

/* Underline From Center */
.my-link {
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.my-link:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 51%;
	right: 51%;
	bottom: 0;
	background: #cfeaf7;
	height: 4px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.my-link:hover:before,
.my-link:focus:before,
.my-link:active:before {
	left: 0;
	right: 0;
}
