body {
	background: url(https://cdn-images-1.medium.com/max/1600/1*5XH40dQSsBVFtvx3MO5VwQ.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.card {
	width: 400px;
	box-shadow: 3px 3px 20px;
	justify-content: center;
	display: flex;
}

.my-card-list {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-top: 2rem;
	gap: 2rem;
	justify-content: center;
}
.card:hover {
	transform: scale(1.1);
	z-index: 1;
}

