body { 
	background: url(https://cdn-images-1.medium.com/max/1600/1*5XH40dQSsBVFtvx3MO5VwQ.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }

.card {
	width: 31%;
	box-shadow: 3px 3px 20px;
	justify-content: center;
}

.my-card-list {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-top: 2rem;
	gap: 2rem;
	justify-content: center;

	/* padding: 1rem 2 rem; */
}
.card:hover {
	transform: scale(1.2);
	z-index: 1;
}
